{{ $disableImageOptimization := .Site.Params.disableImageOptimization | default false }}
<div class="not-prose relative flex flex-col items-center justify-center px-1 py-1 text-center my-8">
  {{ with .Site.Params.Author.image }}
    {{ $authorImage := "" }}
    {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
      {{ $authorImage = resources.GetRemote . }}
    {{ else }}
      {{ $authorImage = resources.Get . }}
    {{ end }}
    {{ if $authorImage }}
      {{ $final := $authorImage }}
      {{ if not $disableImageOptimization }}
        {{ $final = $authorImage.Fill (print "288x288 q" ( $.Site.Params.Author.imagequality | default "96" )) }}
      {{ end }}
      <img
        class="mb-2 h-36 w-36 rounded-full"
        width="144"
        height="144"
        alt="{{ $.Site.Params.Author.name | default `Author` }}"
        src="{{ $final.RelPermalink }}"
        data-zoom-src="{{ $authorImage.RelPermalink }}">
    {{ end }}
  {{ end }}
  <h1 class="mb-2 text-4xl font-extrabold text-neutral-800 dark:text-neutral-200">
    {{ .Site.Params.Author.name | default .Site.Title }}
  </h1>
  {{ with .Site.Params.Author.headline }}
    <h2 class="mt-0 mb-0 text-xl text-neutral-800 dark:text-neutral-300">
      {{ . | markdownify }}
    </h2>
  {{ end }}
  <div class="mt-3 mb-1 text-2xl">
    {{ with .Site.Params.Author.links }}
      <div class="flex flex-wrap justify-center">
        {{ range $links := . }}
          {{ range $name, $url := $links }}
            <a
              class="hover:text-primary-400 text-primary-800 dark:text-primary-200 px-1"
              href="{{ $url }}"
              target="_blank"
              aria-label="{{ $name | title }}"
              title="{{ $name | title }}"
              rel="me noopener noreferrer">
              {{ partial "icon.html" $name }}
            </a>
          {{ end }}
        {{ end }}
      </div>
    {{ end }}
  </div>
</div>
